@model kuvera108.Areas.SiteAdmin.Models.ExternalLoginConfirmationViewModel
@{ Layout = "~/Areas/SiteAdmin/Views/Shared/_Empty_modal.cshtml";}
@{
    ViewBag.Title = "Связывание вашей учетной записи " + @ViewBag.LoginProvider;
}
<h2>@ViewBag.Title.</h2>

@using (Html.BeginForm("ExternalLoginConfirmation", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { role = "form" }))
{
    @Html.AntiForgeryToken()
    <h4>Форма связи</h4>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <p class="text-info">Вы успешно прошли проверку подлинности через &nbsp; <strong>@ViewBag.LoginProvider</strong></p>
                <p class="text-info">
                    Введите имя пользователя на этом сайте ниже и нажмите кнопку "Зарегистрировать", чтобы завершить
                    вход.
                </p>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.UserName, new { @class = "control-label" })
                @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.UserName, "", new { @class = "text-danger" })
                <span class="help-block"></span>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Name, new { @class = "control-label" })
                @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })
                <span class="help-block"></span>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Email, new { @class = "control-label" })
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                <span class="help-block"></span>
            </div>
        </div>
    </div>
    <div class="row">
        <h5>@Html.ValidationSummary(true, "", new { @class = "text-danger" })</h5>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <input type="submit" class="btn btn-success" value="Регистрация" />
            </div>
        </div>
    </div>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
