<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/datatables")
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/leftMenu")
    @Scripts.Render("~/bundles/modernizr")

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/leftMenu")

    <link href="~/Content/bootstrap-select.css" rel="stylesheet" />
    <script src="~/Scripts/bootstrap-select.min.js"></script>
    <script src="~/Scripts/i18n/defaults-ru_RU.js"></script>

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Учет финансов", "Index", "Home", new { area = "", controller = "Home" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Управление сайтом", "Index", new { area = "SiteAdmin", controller = "Home" }, null)</li>
                    <li>@Html.ActionLink("Контакты", "Contact", new { area = "", controller = "Home" }, null)</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year</p>
        </footer>
    </div>
    <!-- Скрипт для инициализации элементов на странице, имеющих атрибут data-toggle="tooltip" -->
    <script>
        $(function () {
            $("[data-toggle='tooltip']").tooltip();
        });
    </script>
    @RenderSection("scripts", required: false)
</body>
</html>
